*	{
margin: 0;
padding: 0;
    font-family: Arial,Helvetica,sans-serif;
}

body {
	direction:rtl;
	background-image:url(../images/back.gif);
	background-repeat: repeat-x;
	/*background: #F3F4F4;
	background-repeat:repeat-x;*/
	font: 11px Arial, Helvetica, sans-serif;
	height:100%; 
	/*behavior: url("csshover.htc");*/
	text-align:center;
}
.templateHead div,.templateContent div{
	display:inline-block;
	}
img{
	
	border:none;
	}
div { z-index:10; }
textarea{resize: none}
.title {
	background:#E5EDF5;
/*	color:#0C86C9; */
	color:#002EEB;
	padding-left:1em;
	padding-right:1em;
	font-size:14px;
}
/*.crdhide{
	display: none;
}
.chkhide{
	display:none;
}*/
h1	{
	font-size: 18; 
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	color:#006599;
	position:relative;
	width:auto;
}

h2	{
	font-size:16px; 
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	color: #006599;
}



h4	{
	font-size: 14; 
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	color: #54A4DE;	
}

h5	{
	font-size: 12; 
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	color: #54A4DE;	
}


h6	{
	font-size: 9; 
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	color: #BABEB7;	
}
table 	{
	  font-size:11px; Arial, Helvetica, sans-serif;
	  font-family: Arial, Helvetica, sans-serif;
	  border: 0px;	
}

th	{
	font-size: 16; 
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	color: #54A4DE;
}
hr.submenu{
	 border: medium solid #1870ca;
    position: relative;
    top: -2px;
	
	}
a.Surtcut{
	background-image: url(../images/ShurtcutBtn.png);
	width: 155px; height: 36px;
	padding-top:16px;
	font-size:16px;
	display: inline-block;
	color:black;
	margin-bottom: 5px;
	text-align: center;
	}
a.Surtcut:hover{
	background-image: url(../images/ShurtcutBtnOver.png);
	}
.ui-corner-top a{
	text-align:center;
	color:#186abf;
	display: inline-block;
	width: 92px; height: 30px;
	padding-top:10px;
	background-image: url(../imags/btn.png);
	/*background-position: top;
	text-indent: -9999px;*/
	
	}

.ui-corner-top a:hover{
		background-image: url(../images/btnactive.png);
		/*background-image: url(../images/btnactive.png);*/
		text-decoration: none;
		color:white;
	}
.active a{
		background-image: url(../images/btnactive.png);
		text-decoration: none;
		color:white;
	}
a.btnAddQty{
	display: inline-block;
	width: 20px; height: 20px;
	/*padding-top:5px;*/
	background-image: url(../images/btnAddQty.png);
	}
a.btnSubQty{
	display: inline-block;
	width: 20px; height: 20px;
	/*padding-top:5px;*/
	background-image: url(../images/btnSubQty.png);
	
	}
a.btnremove{
	height:25px;
	width:25px;
	background-image: url(../images/btnRemove.png);
	display:inline-block;
	
	}
a.btnadd{
	height:25px;
	width:25px;
	background-image: url(../images/btnAdd.png);
	display:inline-block;
	
	}
a.btnedit{
	height:25px;
	width:25px;
	background-image: url(../images/btnEdit.png);
	display:inline-block;
	}
input.btnsmall{
	height:24px;
	background-image: url(../images/btnSmall.png);
	display:inline-block;
	/*padding-right: 5px;*/
	text-align:center;
    padding-top: 7px;
    width: 80px;
}
a.btnsmall{
	height:24px;
	background-image: url(../images/btnSmall.png);
	display:inline-block;
	/*padding-right: 5px;*/
	text-align:center;
    padding-top: 7px;
    width: 80px;
}
input.btnaction,
a.btnaction{
	border-style: hidden;
	background-color: white;
	background-image: url(../images/btnAction.png);
	color: white;
    display: inline-block;
    height: 37px;
    padding-left: 20px;
    padding-top: 0px;
    text-align: center;
    width: 92px;
  
	
	}
input.btnaction:over,
a.btnaction:over{color:orange}
.wrapper {
	position: relative;
	
	width: 90%;
	_width: 90%;
	margin: 0 auto;
	padding:0px; 
}

/*-------------------------------------HEADER--------------------------------*/
.headerA {height:85px;}
.headerB{height:130px;}
.headerC {
	top:80px; 	
	background: #BBD9EE;
	height: 40px;
}

.headerD {
	background: #ffffff;	
	z-index: 1;
	height: 2px;
	_height: 10px;
}

#logo {
	float: right;
    position: absolute;
    right: 400px;
    top: 30px;
}
/*
#support {
	color:white;
	font-size: 24; 
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;	
}

#support a {
	color:white;
	font-size: 36; 
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;	
}*/
#right_hdr{float: right;}
#left_hdr{
	float: left;
    font-size: 14px;
    position: relative;
    top: 48px;
    color: #006599;
    font-weight: bold;	
	}
#right_hdr h1 {
	position: absolute;
    right: 0;
    text-align: right;
    top: 60px;
    width: 600px;

}

#logindata {
	color: #006599;
	float: right;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    right: 0;
    text-align: right;
    top: 85px;
    width: 100%;
}

/*#logindata a {color: #006599;}*/

/*----------------------------contents--------------------------------------------*/
div.warning{
	  background-color: Wheat;
    border: 2px solid red;
    border-radius: 10px 10px 10px 10px;
    color: red;
    float: right;
    font-weight: bold;
    left: 635px;
    padding: 5px;
    position: fixed;
    top: 10px;
    z-index: 900;
}
	
.contents{
	background: none repeat scroll 0 0 white;
    border-radius: 1.5em;
    clear: both;
    /*right: 1.5em;*/
    min-height: 485px;
    padding: 0;
    padding:10px;
    /*margin: 0 1.5em 1.5em 0;*/
    position: relative;
    top: -20px;
    /*width: 1106px;*/
     box-shadow:2px 2px 2px 2px #ccc;
	  
	
}
.caption {
	background:#002EEB;
	height:28px;
	border:1px solid #D3D3D4;
	font-size:13px;
	color:white;
}
.caption_out {
	background:#28B5E3;
	height:30px;
	border:1px solid #28B5E3;
	color:white;
}

.winbutton {
	background:white;
	color:#002EEB;
	margin-top:5px;
	width:1em;
	text-align:center;
}
label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }
/*------------------------------A-------------------------------------------------*/
a {
	text-decoration: none;
	color: #006599;
	font-weight: bold;
}
/*a:link,
a:visited {
	color: #006599; 
	font-weight: bold;
}*/
/*a:hover,
a:active {
	color: #0000FF; 
	font-weight: bold;
}
a:visited {
	color:#006599;
	font-weight:bold;
}*/

/*----------------------------------` down menu------------------------------*/
/**

.navBar ul	{
	    margin: 0;
    padding-left:0px;
	list-style-type: none;
	font-weight: bold;
	text-align: center;
}

.navBar ul span p	{
	color: #FFFFFF;
	display:block;
	border-left: 1px solid white;
}
.navBar ul li	{
	float: right;
	display: inline;
	
	width: 11.1%;
	
	color: #FFFFFF;

	height: 61px;
	padding-left: 0px;
	padding-top:5px;
	background-image: url(../images/menu.gif);
	background-repeat:repeat-x;
	
}

.navBar ul li span {
  
    display: block;
    font-size: 14px;
    height: 34px;
    padding-top: 7px;
}
.navBar ul li:last-child span p{border-left: none;}
.navBar ul li:hover span{

	background-color:white; 
	border-radius: 1.5em 1.5em 0em 0em;
	color:black;
}
.navBar ul li:hover span p{
	color:black;
}

.navBar ul li:last-child	{border-radius: 15px 0px 0px 0px;}
.navBar ul li:first-child{border-radius: 0px 15px 0px 0px;}
.navBar ul li ul	{
		display: none;
		width: 120px;
}
.navBar ul li:hover ul	{display: block;}
.navBar ul li ul li	{
			height: 24px;
			width: 120px;
			line-height: 24px;
			z-index:60;
			position:relative;
			 box-shadow:2px 2px 2px 2px #ccc;

			
			background-color: white;
			background-image: none;
			
}
.navBar ul li ul li:last-child{
	border-radius: 0em 0em 1.5em 1.5em;
	}
	.navBar ul li ul li:first-child{
	border-radius: 0em 0em 0em 0em;
	}
.navBar ul li ul li a{
	color: black;
	}
.navBar ul li ul li a:hover{
		color: #2f6dae;
	}
.navBar ul li ul li:hover	{
				
		background-image: url(../images/submenuover.png);	

		background-color: white;
}

*/

.sinv {
	display:none;
	width:50%;
	float:left;
}

.lefthalf {
	width:40%;
	position:absolute;
	left:15%;
	height:500px;
	z-index:0;
/*	border:1px solid; */
}

.lefthalf2 {
	width:40%;
	position:absolute;
	left:2%;
	height:500px;
	z-index:0;
/*	border:1px solid; */
}

.righthalf {
	width:40%;
	position:absolute;
	left:58%;
	height:500px;
	padding-right:10px;
	z-index:0;
/*	border:1px solid; */
}


.lefthalf1 {
	float:right;
	margin-right:10px;
	width:45%;
/*	height:500px; */
	z-index:0;
}

.innercontent {
	float:right;
	padding-right:10px;
	width:95%;
	margin-top:10px;
}

.defbottom {
	width:100%;
	position:absolute;
	text-align:center;
	top:510px;
/*	bottom:50px; */
/*	border:1px solid; */
}

.footer {
	margin-top:5px;
	/*background: #F3F4F4;*/
	float:right;
	width:100%;	
	font-size:12px;
	color:#7d7d7d;
}

.firefox {
    float: right;
    margin-top: 3px;
    padding-right: 35px;
    text-align: right;
}
div.firefox table tbody tr td{
	padding-right:13px;
	}
.isoc {
	float:right;

	text-align:right;
}
div.isoc table tbody tr td{
	padding-right:13px;
	}


.accttype {
	float:left;
	margin-left:20px;
	width:160px;
}

.brdr1 {
	border:1px solid;
	width:auto;
}
/******************************************form********************/
.ftr{text-align:right; width: 14px;}
.ftc{
background: url(../images/ftc.png) 0 0 repeat-x;
color: #186ABF;
    font-weight:bold;
    font-size: 18px;
    height: 38px;
    padding-top: 5px;
}
td.ftc span{display: inline;
position: relative;
    right: 5px;
    top: -5px;

}

.form td,.form tr{
	 padding: 0px;
	 text-align: justify;
	}
.ftl{text-align:left; width: 14px;}
.fcr{

    background: url("../images/fcr.png") repeat-y scroll right top white
}
.fcc{
	background: none repeat scroll 0 0 white;
	padding-top:15px;vertical-align: baseline;
}
.fcl{

    background: url("../images/fcl.png") repeat-y scroll left top white
}
.fbr{}
.fbc{
background: url(../images/fbc.png) 0 0 repeat-x;
height:57px;
}
.fbl{}

/*	
td.ftc a{
	    display: inline;
    float: left;
    position: relative;
    top: 10px;
	
	
	}
a.help img{
	 position: relative;
    top: -8px;
    left:12px;
	}	
a.help p{
	 position: relative;
    top: -12px;
    right:-9px;
	}		*/
.formtitle{
	float:right;
    right: 0px;
    position: relative;
    width:120px;
    top: 0px;
	}
.formback{
	float:left;
	left: 0px;
	width:75px;
    position: relative;
    top: 7px;
	}	
.formhelp{
	float:left;
	width:75px;
	left: 15px;
    position: relative;
    top: 0px;
	}	

div.form label {
    display: inline-block;
}
.form{
	text-align:right;
	/* display: inline-block;*/
	vertical-align: top;
	
	-moz-column-width: 370px;
	
	/*float: right;*/
	}	
.docdetailes div p{
	display:inline-block;
	
	
	}
#forgat{
	display:none;
	/*height: 10px;
	 width: 300px;*/
	}
.login1{	text-align: center;	}
.login1 table{ margin: auto;margin-top:15px;/*text-align:right;*/background-color: #ECF8FF;}
.login1 table tbody tr td:nth-child(1){text-align:center; padding: 10px;}
.login1 table tbody tr td input{margin-top:5px;}
.login{	margin-top:25px;}
/*
.up{
background: none repeat scroll 0 0 #E5E9EA;
border-radius: 0.5em 0.5em 0em 0em;
 height: 15px;
}*/
/*.cont{
	border-width:0.5px;
	border-style:solid;
	border-color:#9a9a9a;
background: none repeat scroll 0 0 #F7F7F7;
border-radius: 0em 0em 0.5em 0.5em;
	float:right;
}
.side{
width:12px;
background: none;
}*/

.form h2{
	/*font-size: 14px; 
	font-weight:bold;
	font-family: Arial, Helvetica, sans-serif;
	height:28px;
	color:white;
	padding:0.5em 1em 0em 0em;
	background: none repeat scroll 0 0 #D3DEEE;
	border-radius: 0.5em 0.5em 0em 0em;*/
}
.form h3{

    /*background: none repeat scroll 0 0 #2063A8;
    color: white;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    left: 1%;
    padding: 0.5em 1em 0 0;
    width: 98%;*/
}




/*
.shortcut a {
	color:#FFFFFF;
}
*/
/*************table*****************/

.tablesorter tbody tr:nth-child(even){background-color: #ecf8ff;}
.tablesorter tbody tr:nth-child(odd){background-color: #d5ebfc;}


table.formy tbody tr th:first-child,
th.header:first-child{border-radius:0px 15px 0px 0px;}
table.formy tbody tr th:last-child,
th.header:last-child{border-radius:15px 0px 0px 0px;}
table.formy tbody tr th,
th.header{
	background-color: #1870ca;
	color:white;
	padding: 10px;
	font-size: 14px;
	}
.tablesorter tbody tr td{ 
	border: 4px solid white; 
	font-size: 14px;
	}
	
table.formy tbody tr td{background-color: #ecf8ff;  border: 4px solid #ecf8ff; }
table.formy tbody tr td:first-child,.tablesorter tbody tr td:first-child
{ padding-right: 10px;  }
table.formy tbody tr:nth-child(2) td,.tablesorter tbody tr:first-child td
{padding-top: 3px;}
table.formy tbody tr:last-child td,.tablesorter tbody tr:last-child td
{padding-bottom: 3px;}
table.formy tbody tr td:last-child,.tablesorter tbody tr td:last-child
{padding-left: 10px; }   

table.sums tr td{padding: 10px;}
table.sums tr:nth-child(even){background-color: #d5ebfc;}
table.sums tr:nth-child(odd){background-color: #ffe96e;}
table.eventtbl{width:100%}
table.eventtbl tr:nth-child(odd){background-color:#d5ebfc}
table { 
	font-size: 14px; 
	font-family: arial, sans-serif;
	border-collapse:collapse;
}
table.std { font-size: 14px; font-family: arial, sans-serif}
td.std {font-size: 14px; font-family: arial, sans-serif}
tr.tblhead { 
 font-family: Arial,Verdana; 
 color: white;
 font-size:12px;
 font-weight:bold;
 background-color: #1870ca;
}
tr.tblhead1 {
 font-family: Arial,Verdana; 
 color: white;
 font-weight:bold;
 background-color: #1870ca;
 border-radius:15px;
}
.tblhead1, .tblhead1 td {
 font-family: Arial,Verdana; 
 color: white;
 font-weight:bold;
 background-color: #1870ca;
}

.tblheadprt, .tblheadprt td, .tblheadprt tr {
	 font-family: Arial,Verdana; 
	 font-size:18px;
	 color: black;
	 font-weight:bold;
	 background-color: #2063A8;
}

tr.tblhead td {
	 font-family: Arial,Verdana; 
	 font-size:14px;
	 color: white;
	 font-weight:bold;
	 background-color: #2063A8;
	 border-top:1px solid;
	 border-bottom:2px solid;
}

tr.tblheadprt td {
	 font-family: Arial,Verdana; 
	 font-size:18px;
	 color: black;
	 font-weight:bold;
	 background-color: #2063A8;
	 border-top:1px solid;
	 border-bottom:2px solid;
}

tr.tblhead td a {
	font-family: Arial,Verdana;
	font-size:14px;
	color:white;
	font-weight:bold;
	text-decoration:underline;
}

.printtbl {
	font-size:16px;
	border-bottom: 1px solid;
}

.sumline, .sumline tr {
	font-size:14px;
	/*background-color: #2063A8;
	border-style: solid;
	border-width: 2px;
	border-left: none;
	border-right: none;*/
}

.sumlineprt, .sumlineprt tr {
	border-style: solid;
	border-width: 2px;
	border-left: none;
	border-right: none;	
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

tr.sumline td {
	/*border-top:2px solid black;
	border-bottom:2px solid black;	*/
	background: none repeat scroll 0 0 #1870CA;
    border: 4px solid white;	
    padding-bottom: 4px;
    padding-top: 4px;
}

tr.sumlineprt td {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}
	
.repbottom {
	margin-right:5%;
	margin-top:10px;
}

.text1 { font-size:10px; font-family: arial, sans-serif}
.text2 { font-size:11px; font-family: arial, sans-serif}
.text3 { font-size:14px; font-family: arial, sans-serif}
.text4 { font-size:16px; font-family: arial, sans-serif}
/*styles for printing documents*/
table.blau {border: 2px solid #3550FF;  width: 90%;}
table.printdoc {border: 1px solid #000000; border-collapse: collapse;}
td.print1 {font-weight: bold;  background-color: #E5E5E5;}
td.print0 {border: 0px solid #FFFFFF;}
td.bolder {font-weight: bold;}
/*end documents*/

/* Calendar styles */
table.caltbl {
	border:1px solid;
}

td.caltbl {
	border:1px solid;
}

/* main page styles */
.dateform {
	position:relative;
	/*right:5px;*/
	width:900px;
	background-color: #F7F7F7;
	border-width:1px;
	border-style:solid;
	border-color:#9A9A9A;
	border-radius: 0.5em;
	padding-top: 10px; 
	padding-bottom: 10px;
	text-align:center;
	margin:auto;
}
.caldiv {
	margin-right:7px;
}

.shortsdiv {
	margin-left:10px;
}

.sysmsg {
	float:right;
	width:100%;
}

/*.shortcut {
    background: none repeat scroll 0 0 #677CB8;
    border-radius: 7px 7px 7px 7px;
    color: white;
    float: right;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    margin: 5px 5px 0px 0px;
    padding-right: 3px;
    padding-top: 10px;
    text-align: center;
    vertical-align: middle;
    width: 100px;
}*/

/*
a.shortcut {
	color:white;
}*/


/*adam bh update*/
/*#main{
	background: none repeat scroll 0 0 #E5EDF5;
	
	width:660px;
	height:400px;
	margin-left: auto ;
	margin-right: auto ;
	text-align:right;
	font-size:12pt;
	padding:10px 20px 10px 20px;
}

#haed{
text-align:right;
font-size:14pt;
 background: none repeat scroll 0 0 #E0E0E0;
  border-radius: 7px 7px 0px 0px;
  border-bottom: 2px solid #F9A23B;
  
  width:700px;
  height:100px;
  margin-left: auto ;
  margin-right: auto ;
  margin-top: 50px;
}
#footer{

  margin-left: auto ;
  margin-right: auto ;
 background: none repeat scroll 0 0 #E0E0E0;
  border-radius: 0px 0px 7px 7px;
  border-top: 2px solid #F9A23B;
 margin-bottom:20px;
  width:700px;
}
#footer il{
font-size:14px;
 font-weight: bold;
}
#footer .active{
color:blue;
font-size:14px;
 font-weight: bold;
}*/
.control{
	text-align:center;
	}
#main.fcc span.ul{
	position: relative;
    right: 105px;
    top: -15px;
	}
#main.fcc ul il{
	 display: inline-block;
    width: 150px;
	}
#main.fcc ul il span,
#main.fcc span span span{
    color: #C7C5C5;
    display: inline;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    right: -12px;
    top: -20px;
    }
#main.fcc ul il span.num,
#main.fcc span span span.num{
	color: #FFFFFF;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    right: -32px;
    top: -18px;
    
    text-shadow: #6374AB 1px 1px 2px;
}
	
div.updatetext{
	 background-color: #ECF8FF;
    padding: 30px;
    position: relative;
    right: 130px;
    width: 400px;
	}
	.ui-autocomplete {
		max-height: 100px;
		overflow-y: auto;
		/* prevent horizontal scrollbar */
		overflow-x: hidden;
		/* add padding to account for vertical scrollbar */
		padding-right: 20px;
	}
	/* IE 6 doesn't support max-height
	 * we use height instead, but this forces the menu to always be this tall
	 */
	* html .ui-autocomplete {
		height: 100px;
	}
	
	#doc {
	 border-collapse: separate;
	  /*   background: none repeat scroll 0 0 grey;*/
    border: 2px solid grey;
    border-radius: 10px 10px 10px 10px;
    margin: 30px;
	
	}
	table#doc tbody tr td{
		border: 1px solid grey;
	}

	html body div#wrapper div#contents table.form tbody tr td.fcc div form#documenet table.formy tbody tr td input.bank{
	width: 40px;
	}