/index.php
/themes/*
/assets/*

/nbproject/


/protected/runtime/
/protected/files/
/protected/backup/


# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
# /vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml


/protected/vendor/adam2314/*
!/protected/vendor/adam2314/EavBehavior.php
!/assets/docs.js
!/assets/java.js
!/assets/transaction.js
!/assets/img/