Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on



#Uncomment "RewriteBase /" when you upload this .htaccess to your web server, and comment it when on local web server
#NOTE: 
#If your application is in a folder, for example "application". Then, changing the "application" folder name, will require you to reset the RewriteBase /[your app folder]
#RewriteBase /[your app folder - optional]
#RewriteBase yii/demos/new
# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d

# otherwise forward it to index.php 
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
