/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 27, 2014, 5:42:19 PM
    Author     : adam
*/

@media (max-width: 770px){
    .topnav {
        display:none;
    }
}

@media print
  {
  .topnav,.noPrint {
        display:none;
    }
    #left {
        display:none;
    }
    #footer {
        display:none;
    }
    div.page{
        page-break-after:always;
        
    }
    .box{
        border:none;
    }
    
  }
@media (min-width: 1164px){
    .dropdown-menu li:hover .sub-menu {
        visibility: visible;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }
}
.user-media{
    text-align:center;
}
.formtable .item_id{
    width:6%;
}
.formtable .name{
    width:24%;
}
.formtable .qty{
    width:7%;
}
.formtable .unit_id{
    width:8%; 
}
.formtable .unit_price{
    width:6%; 
}
.formtable .currency_id{
    width:8%;
}
.formtable .price{
    width:8%;
}
/*.formtable .invprice{
    width:8%;
}*/
.formtable .vat{
    width:7%;
}
.formtable .actions{
    width:5%;
}





.chosen-container .chosen-drop {
    left:0;
    display:none;
}

div.container-fluid.outer{
        padding:0px;
        
    }

.chosen-container,.chosen-with-drop .chosen-drop {
  display:block;
}
.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  left: 0px;
}
.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
      left: 0px;
}


.topnav{
    float:right;
    padding: 10px;
}

.navbar{
    margin-bottom: 0px;
}



div #chose{
    /*background-color: azure;*/
    background-color: #DDDDDD;
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.alert,
.alert h4 {
  color: #c09853;
}

.alert h4 {
  margin: 0;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-success h4 {
  color: #468847;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-danger h4,
.alert-error h4 {
  color: #b94a48;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-info h4 {
  color: #3a87ad;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

.alert-block p + p {
  margin-top: 5px;
}



input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#footer {
    height: 65px;
    text-align: center;
    
   
    
}
.ui-tabs .ui-tabs-panel {
    overflow: auto;
}
.ui-tabs .ui-tabs-panel {
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    margin: 0;
    padding: 20px;
   /* background: none;*/
}
.ui-tabs-nav{
    background: none; 
    border: medium none;
}

.ui-widget-content a {
    color: #428bca;
}

.ui-tabs-nav > li {
    margin-bottom: -1px;
}
.ui-tabs-nav > li > a {
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    line-height: 20px;
    padding-bottom: 8px;
    padding-top: 8px;
}
/*
.ui-tabs-nav > li > a, .nav-pills > li > a {
    line-height: 14px;
    margin-right: 2px;
    padding-left: 12px;
    padding-right: 12px;
}*/
.ui-tabs-nav > li > a {
    display: block;
    color: #0088CC;
    text-decoration: none;
}


.ui-tabs {
     background: none; 
     border: medium none;
 /*   border: none;
    color: #222222;
    
    */
    
}

.headerA{
    height:40px;
    
}


.items tbody > tr:nth-child(2n+1) > td, 
.items tbody > tr:nth-child(2n+1) > th {
    background-color: #F9F9F9;
}

.items th, .items td {
    border-top: 1px solid #DDDDDD;
    line-height: 20px;
    padding: 8px;
    /*text-align: left;*/
    vertical-align: top;
}





.form-actions{
    text-align: center;
    
}

#left{
   /* position:fixed;*/
    
    
}
.shdowleft{
    
}

#menu > li > a {                
        font-size: 15px;        
}
.formtable{
    /*display:  table;
    width:auto;*/
    
}


/*.formtable > .head1,*/
.formtable > .templateTarget> .templateContent {
    /*display: table-row;*/
    
}
.formtable > .head1 > div,
.formtable > .templateTarget >.templateContent > div{
   /* display: table-cell;*/
    
}

.chzn-container{
    top:-5px;
    
}


@media only all {
    .formtable thead td, 
	.formtable thead th {
		display: none;
	}
    .formtable td,
	.formtable th { 
		/*text-align: left;*/
		display: block;
	}
    
    .formtable tbody th {
		margin-top: 3em;
	}
	/* Make the label elements a percentage width */ 
	.formtable td .ui-table-cell-label,
	.formtable th .ui-table-cell-label { 
		padding: .4em; 
		min-width: 30%; 
		display: inline-block;
		margin: -.4em 1em -.4em -.4em;
	}
	/* For grouped headers, have a different style to visually separate the levels by classing the first label in each col group */ 
	.formtable th .ui-table-cell-label-top,
	.formtable td .ui-table-cell-label-top {
		display: block;
		padding: .4em 0;
		margin: .4em 0;
		text-transform: uppercase;
		font-size: .9em;
		font-weight: normal;
	}
}

@media (min-width: 992px){
    #left {
        width: 130px;
    }
}


@media (max-width: 980px){
    
    .box header{
        display:none;
        
    }
    
    
    div.col-lg-12{
        padding:0;
    }
}




@media ( min-width: 700px ) {
	/* Show the table header rows and set all cells to display: table-cell */ 
	.formtable td,
	.formtable th,
	.formtable tbody th,
	.formtable tbody td,
	.formtable thead td,
	.formtable thead th {
		display: table-cell;
		margin: 0;
	}
	/* Hide the labels in each cell */ 
	.formtable td .ui-table-cell-label,
	.formtable th .ui-table-cell-label,
        .formtable td b{ 
		display: none;
	}
}
/*
@media (min-width: 1200px){
    .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
width: 1200px;
}
    
    
    
    
    }*/